USE [CarDealershipDB]
GO
/****** Nesnesi: UserDefinedFunction [dbo].[fn_TotalPurchaseAmount] Betik Tarihi: 4.06.2026 00:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TotalPurchaseAmount]
(
    @CustomerID INT
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TotalAmount DECIMAL(18,2);

    SELECT @TotalAmount = ISNULL(SUM(amount), 0)
    FROM SalesContract
    WHERE customer_id = @CustomerID;

    RETURN @TotalAmount;
END;
GO
/****** Nesnesi: UserDefinedFunction [dbo].[fn_TotalServiceCount] Betik Tarihi: 4.06.2026 00:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TotalServiceCount]
(
    @CustomerID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @ServiceCount INT;

    SELECT @ServiceCount = COUNT(sr.record_id)
    FROM ServiceAppointment sa
    INNER JOIN ServiceRecord sr
        ON sa.appointment_id = sr.appointment_id
    WHERE sa.customer_id = @CustomerID;

    RETURN ISNULL(@ServiceCount, 0);
END;
GO
/****** Nesnesi: Table [dbo].[Branch] Betik Tarihi: 4.06.2026 00:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[branch_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[address] [varchar](250) NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[BuyerCustomer] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyerCustomer](
	[customer_id] [int] NOT NULL,
	[membership_level] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Customer] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[address] [varchar](250) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[CustomerVehicle] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerVehicle](
	[vehicle_id] [int] NOT NULL,
	[purchase_date] [date] NULL,
	[customer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[DamageReport] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DamageReport](
	[damage_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[description] [varchar](500) NULL,
	[estimated_cost] [decimal](18, 2) NULL,
	[policy_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[damage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[DriverLicense] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverLicense](
	[license_id] [int] IDENTITY(1,1) NOT NULL,
	[class] [varchar](20) NULL,
	[issue_date] [date] NULL,
	[expiry_date] [date] NULL,
	[customer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[license_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[EducationCertificate] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationCertificate](
	[certificate_id] [int] IDENTITY(1,1) NOT NULL,
	[subject] [varchar](100) NOT NULL,
	[issue_date] [date] NULL,
	[employee_ssn] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[certificate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Employee] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ssn] [char](11) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[hire_date] [date] NULL,
	[branch_id] [int] NOT NULL,
	[title_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[InsuranceCompany] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceCompany](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Invoice] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[contract_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[PartCategory] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartCategory](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[group_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Payment] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[amount] [decimal](18, 2) NULL,
	[status] [varchar](50) NULL,
	[invoice_id] [int] NOT NULL,
	[type_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[PaymentType] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Policy] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy](
	[policy_id] [int] IDENTITY(1,1) NOT NULL,
	[coverage_amount] [decimal](18, 2) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[company_id] [int] NOT NULL,
	[customer_vehicle_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[ReplacementVehicle] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplacementVehicle](
	[vehicle_id] [int] NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Route] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[route_id] [int] IDENTITY(1,1) NOT NULL,
	[start_location] [varchar](100) NOT NULL,
	[end_location] [varchar](100) NOT NULL,
	[distance] [decimal](8, 2) NULL,
	[type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Salary] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[salary_id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[employee_ssn] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[salary_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[SalesContract] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesContract](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [decimal](18, 2) NULL,
	[date] [date] NULL,
	[status] [varchar](50) NULL,
	[customer_id] [int] NOT NULL,
	[sale_vehicle_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[SaleVehicle] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleVehicle](
	[vehicle_id] [int] NOT NULL,
	[type] [varchar](20) NULL,
	[status] [varchar](50) NULL,
	[price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[ServiceAppointment] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceAppointment](
	[appointment_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[status] [varchar](50) NULL,
	[customer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[ServiceCustomer] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCustomer](
	[customer_id] [int] NOT NULL,
	[preferred_service_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[ServicePackage] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePackage](
	[package_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[ServiceRecord] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRecord](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[description] [varchar](500) NULL,
	[status] [varchar](50) NULL,
	[cost] [decimal](18, 2) NULL,
	[appointment_id] [int] NOT NULL,
	[customer_vehicle_id] [int] NOT NULL,
	[replacement_vehicle_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[SparePart] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SparePart](
	[oem_code] [varchar](50) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[oem_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[StockMovement] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovement](
	[movement_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[quantity] [int] NULL,
	[movement_type] [varchar](50) NULL,
	[supplier_id] [int] NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[oem_code] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[movement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Supplier] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[TestDrive] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDrive](
	[test_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[status] [varchar](50) NULL,
	[customer_id] [int] NOT NULL,
	[employee_ssn] [char](11) NOT NULL,
	[route_id] [int] NOT NULL,
	[sale_vehicle_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Title] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[title_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Vehicle] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[vehicle_id] [int] IDENTITY(1,1) NOT NULL,
	[vin] [varchar](17) NOT NULL,
	[plate] [varchar](20) NOT NULL,
	[color] [varchar](30) NULL,
	[model_year] [smallint] NULL,
	[branch_id] [int] NOT NULL,
	[vehicle_type] [varchar](20) NOT NULL,
	[last_updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[VehicleAuditLog] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleAuditLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[action_type] [varchar](20) NULL,
	[action_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Warehouse] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[warehouse_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[WorkOrder] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrder](
	[workorder_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[status] [varchar](50) NULL,
	[record_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[workorder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[WorkOrder_ServicePackage] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrder_ServicePackage](
	[workorder_id] [int] NOT NULL,
	[package_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[workorder_id] ASC,
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[WorkOrder_SparePart] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrder_SparePart](
	[workorder_id] [int] NOT NULL,
	[oem_code] [varchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[workorder_id] ASC,
	[oem_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([branch_id], [name], [address], [phone]) VALUES (1, N'Istanbul Central Branch', N'Kadikoy / Istanbul', N'02160645578')
INSERT [dbo].[Branch] ([branch_id], [name], [address], [phone]) VALUES (2, N'Ankara Branch', N'Cankaya / Ankara', N'03121000103')
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
INSERT [dbo].[BuyerCustomer] ([customer_id], [membership_level]) VALUES (1, N'Gold')
INSERT [dbo].[BuyerCustomer] ([customer_id], [membership_level]) VALUES (4, N'silver')
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [first_name], [last_name], [address], [phone], [email]) VALUES (1, N'Salih', N'Artuç', N'Kartal / Istanbul', N'05534859624', N'slhrtc@gmail.com')
INSERT [dbo].[Customer] ([customer_id], [first_name], [last_name], [address], [phone], [email]) VALUES (2, N'Nazife', N'Turan', N'Pendik / Istanbul', N'05537986544', N'csdf.as@gmail.com')
INSERT [dbo].[Customer] ([customer_id], [first_name], [last_name], [address], [phone], [email]) VALUES (3, N'Ahmet', N'Yilmaz', N'Kızılcahamam / Ankara', N'05479850021', N'ahmet@gmail.com')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[CustomerVehicle] ([vehicle_id], [purchase_date], [customer_id]) VALUES (2, CAST(N'2023-10-09' AS Date), 2)
INSERT [dbo].[CustomerVehicle] ([vehicle_id], [purchase_date], [customer_id]) VALUES (6, CAST(N'2024-01-15' AS Date), 3)
GO
SET IDENTITY_INSERT [dbo].[DamageReport] ON 

INSERT [dbo].[DamageReport] ([damage_id], [date], [description], [estimated_cost], [policy_id]) VALUES (1, CAST(N'2024-04-10' AS Date), N'Front bumper damage', CAST(12000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[DamageReport] ([damage_id], [date], [description], [estimated_cost], [policy_id]) VALUES (2, CAST(N'2024-05-02' AS Date), N'Rear door scratch', CAST(4500.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[DamageReport] OFF
GO
SET IDENTITY_INSERT [dbo].[DriverLicense] ON 

INSERT [dbo].[DriverLicense] ([license_id], [class], [issue_date], [expiry_date], [customer_id]) VALUES (1, N'B', CAST(N'2018-06-12' AS Date), CAST(N'2028-06-12' AS Date), 1)
INSERT [dbo].[DriverLicense] ([license_id], [class], [issue_date], [expiry_date], [customer_id]) VALUES (2, N'B', CAST(N'2019-03-10' AS Date), CAST(N'2029-03-10' AS Date), 3)
SET IDENTITY_INSERT [dbo].[DriverLicense] OFF
GO
SET IDENTITY_INSERT [dbo].[EducationCertificate] ON 

INSERT [dbo].[EducationCertificate] ([certificate_id], [subject], [issue_date], [employee_ssn]) VALUES (1, N'Automotive Electronics', CAST(N'2022-06-15' AS Date), N'12345678901')
INSERT [dbo].[EducationCertificate] ([certificate_id], [subject], [issue_date], [employee_ssn]) VALUES (2, N'Advanced Engine Systems', CAST(N'2023-02-10' AS Date), N'98765432100')
SET IDENTITY_INSERT [dbo].[EducationCertificate] OFF
GO
INSERT [dbo].[Employee] ([ssn], [first_name], [last_name], [hire_date], [branch_id], [title_id]) VALUES (N'12345678901', N'Mehmet', N'Kaya', CAST(N'2022-05-10' AS Date), 1, 1)
INSERT [dbo].[Employee] ([ssn], [first_name], [last_name], [hire_date], [branch_id], [title_id]) VALUES (N'98765432100', N'Zeynep', N'Arslan', CAST(N'2023-01-15' AS Date), 2, 2)
GO
SET IDENTITY_INSERT [dbo].[InsuranceCompany] ON 

INSERT [dbo].[InsuranceCompany] ([company_id], [name], [phone], [address]) VALUES (1, N'Anadolu Insurance', N'02121250215', N'Sisli / Istanbul')
INSERT [dbo].[InsuranceCompany] ([company_id], [name], [phone], [address]) VALUES (2, N'Aksigorta', N'02125632211', N'Besiktas / Istanbul')
SET IDENTITY_INSERT [dbo].[InsuranceCompany] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([invoice_id], [date], [contract_id]) VALUES (1, CAST(N'2024-02-01' AS Date), 1)
INSERT [dbo].[Invoice] ([invoice_id], [date], [contract_id]) VALUES (2, CAST(N'2024-03-12' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[PartCategory] ON 

INSERT [dbo].[PartCategory] ([category_id], [name], [group_name]) VALUES (1, N'Brake System', N'Mechanical')
INSERT [dbo].[PartCategory] ([category_id], [name], [group_name]) VALUES (2, N'Engine Parts', N'Mechanical')
SET IDENTITY_INSERT [dbo].[PartCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [date], [amount], [status], [invoice_id], [type_id]) VALUES (2, CAST(N'2024-02-01' AS Date), CAST(500000.00 AS Decimal(18, 2)), N'Paid', 1, 1)
INSERT [dbo].[Payment] ([payment_id], [date], [amount], [status], [invoice_id], [type_id]) VALUES (3, CAST(N'2024-03-15' AS Date), CAST(250000.00 AS Decimal(18, 2)), N'Pending', 2, 2)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([type_id], [name]) VALUES (1, N'Credit Card')
INSERT [dbo].[PaymentType] ([type_id], [name]) VALUES (2, N'Bank Transfer')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Policy] ON 

INSERT [dbo].[Policy] ([policy_id], [coverage_amount], [start_date], [end_date], [company_id], [customer_vehicle_id]) VALUES (1, CAST(150000.00 AS Decimal(18, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date), 1, 2)
INSERT [dbo].[Policy] ([policy_id], [coverage_amount], [start_date], [end_date], [company_id], [customer_vehicle_id]) VALUES (2, CAST(200000.00 AS Decimal(18, 2)), CAST(N'2024-03-01' AS Date), CAST(N'2025-03-01' AS Date), 2, 6)
SET IDENTITY_INSERT [dbo].[Policy] OFF
GO
INSERT [dbo].[ReplacementVehicle] ([vehicle_id], [status]) VALUES (4, N'Available')
INSERT [dbo].[ReplacementVehicle] ([vehicle_id], [status]) VALUES (7, N'Available')
GO
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([route_id], [start_location], [end_location], [distance], [type]) VALUES (1, N'Kadikoy', N'Maltepe', CAST(12.50 AS Decimal(8, 2)), N'City')
INSERT [dbo].[Route] ([route_id], [start_location], [end_location], [distance], [type]) VALUES (2, N'Besiktas', N'Sariyer', CAST(21.80 AS Decimal(8, 2)), N'Highway')
SET IDENTITY_INSERT [dbo].[Route] OFF
GO
SET IDENTITY_INSERT [dbo].[Salary] ON 

INSERT [dbo].[Salary] ([salary_id], [amount], [start_date], [end_date], [employee_ssn]) VALUES (1, CAST(45000.00 AS Decimal(18, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), N'12345678901')
INSERT [dbo].[Salary] ([salary_id], [amount], [start_date], [end_date], [employee_ssn]) VALUES (2, CAST(38000.00 AS Decimal(18, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), N'98765432100')
SET IDENTITY_INSERT [dbo].[Salary] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesContract] ON 

INSERT [dbo].[SalesContract] ([contract_id], [amount], [date], [status], [customer_id], [sale_vehicle_id]) VALUES (1, CAST(1850000.00 AS Decimal(18, 2)), CAST(N'2024-02-01' AS Date), N'Completed', 1, 1)
INSERT [dbo].[SalesContract] ([contract_id], [amount], [date], [status], [customer_id], [sale_vehicle_id]) VALUES (2, CAST(980000.00 AS Decimal(18, 2)), CAST(N'2024-03-12' AS Date), N'Pending', 4, 3)
SET IDENTITY_INSERT [dbo].[SalesContract] OFF
GO
INSERT [dbo].[SaleVehicle] ([vehicle_id], [type], [status], [price]) VALUES (1, N'New', N'In Stock', CAST(1850000.00 AS Decimal(18, 2)))
INSERT [dbo].[SaleVehicle] ([vehicle_id], [type], [status], [price]) VALUES (3, N'Used', N'In Stock', CAST(980000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[ServiceAppointment] ON 

INSERT [dbo].[ServiceAppointment] ([appointment_id], [date], [time], [status], [customer_id]) VALUES (1, CAST(N'2024-06-01' AS Date), CAST(N'10:00:00' AS Time), N'Approved', 1)
INSERT [dbo].[ServiceAppointment] ([appointment_id], [date], [time], [status], [customer_id]) VALUES (2, CAST(N'2024-06-03' AS Date), CAST(N'14:30:00' AS Time), N'Pending', 3)
INSERT [dbo].[ServiceAppointment] ([appointment_id], [date], [time], [status], [customer_id]) VALUES (3, CAST(N'2026-06-10' AS Date), CAST(N'09:30:00' AS Time), N'Pending', 1)
SET IDENTITY_INSERT [dbo].[ServiceAppointment] OFF
GO
INSERT [dbo].[ServiceCustomer] ([customer_id], [preferred_service_type]) VALUES (2, N'Full Service')
INSERT [dbo].[ServiceCustomer] ([customer_id], [preferred_service_type]) VALUES (3, N'Half Service')
GO
SET IDENTITY_INSERT [dbo].[ServicePackage] ON 

INSERT [dbo].[ServicePackage] ([package_id], [name], [price]) VALUES (1, N'Basic Maintenance', CAST(4500.00 AS Decimal(18, 2)))
INSERT [dbo].[ServicePackage] ([package_id], [name], [price]) VALUES (2, N'Premium Maintenance', CAST(8500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ServicePackage] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceRecord] ON 

INSERT [dbo].[ServiceRecord] ([record_id], [date], [description], [status], [cost], [appointment_id], [customer_vehicle_id], [replacement_vehicle_id]) VALUES (1, CAST(N'2024-06-01' AS Date), N'Oil and filter replacement', N'Completed', CAST(3500.00 AS Decimal(18, 2)), 1, 2, 4)
INSERT [dbo].[ServiceRecord] ([record_id], [date], [description], [status], [cost], [appointment_id], [customer_vehicle_id], [replacement_vehicle_id]) VALUES (2, CAST(N'2024-06-03' AS Date), N'Brake maintenance', N'In Progress', CAST(6200.00 AS Decimal(18, 2)), 2, 6, 7)
SET IDENTITY_INSERT [dbo].[ServiceRecord] OFF
GO
INSERT [dbo].[SparePart] ([oem_code], [name], [price]) VALUES (N'BRK-001', N'Front Brake Pad', CAST(2500.00 AS Decimal(18, 2)))
INSERT [dbo].[SparePart] ([oem_code], [name], [price]) VALUES (N'ENG-002', N'Oil Filter', CAST(750.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[StockMovement] ON 

INSERT [dbo].[StockMovement] ([movement_id], [date], [quantity], [movement_type], [supplier_id], [warehouse_id], [oem_code]) VALUES (1, CAST(N'2024-06-01' AS Date), 50, N'IN', 1, 1, N'BRK-001')
INSERT [dbo].[StockMovement] ([movement_id], [date], [quantity], [movement_type], [supplier_id], [warehouse_id], [oem_code]) VALUES (2, CAST(N'2024-06-02' AS Date), 30, N'IN', 2, 2, N'ENG-002')
SET IDENTITY_INSERT [dbo].[StockMovement] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([supplier_id], [name], [phone]) VALUES (1, N'Bosch Supplier', N'02160000111')
INSERT [dbo].[Supplier] ([supplier_id], [name], [phone]) VALUES (2, N'Toyota Original Parts', N'02160000222')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[TestDrive] ON 

INSERT [dbo].[TestDrive] ([test_id], [date], [time], [status], [customer_id], [employee_ssn], [route_id], [sale_vehicle_id]) VALUES (1, CAST(N'2024-02-15' AS Date), CAST(N'11:00:00' AS Time), N'Completed', 1, N'12345678901', 1, 1)
INSERT [dbo].[TestDrive] ([test_id], [date], [time], [status], [customer_id], [employee_ssn], [route_id], [sale_vehicle_id]) VALUES (2, CAST(N'2024-03-20' AS Date), CAST(N'15:30:00' AS Time), N'Scheduled', 3, N'98765432100', 2, 3)
SET IDENTITY_INSERT [dbo].[TestDrive] OFF
GO
SET IDENTITY_INSERT [dbo].[Title] ON 

INSERT [dbo].[Title] ([title_id], [name]) VALUES (1, N'Sales Manager')
INSERT [dbo].[Title] ([title_id], [name]) VALUES (2, N'Service Technician')
SET IDENTITY_INSERT [dbo].[Title] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([vehicle_id], [vin], [plate], [color], [model_year], [branch_id], [vehicle_type], [last_updated]) VALUES (1, N'JTDBR32E720054321', N'34ABC123', N'Black', 2024, 1, N'SALE', CAST(N'2026-06-04T00:18:27.893' AS DateTime))
INSERT [dbo].[Vehicle] ([vehicle_id], [vin], [plate], [color], [model_year], [branch_id], [vehicle_type], [last_updated]) VALUES (2, N'WBAFR9C50BC271234', N'06XYZ789', N'Black', 2022, 2, N'CUSTOMER', NULL)
INSERT [dbo].[Vehicle] ([vehicle_id], [vin], [plate], [color], [model_year], [branch_id], [vehicle_type], [last_updated]) VALUES (3, N'TRUWT28N511234567', N'34TEST55', N'Gray', 2023, 1, N'SALE', NULL)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleAuditLog] ON 

INSERT [dbo].[VehicleAuditLog] ([log_id], [vehicle_id], [action_type], [action_date]) VALUES (1, 1, N'UPDATE', CAST(N'2026-06-03T23:46:21.570' AS DateTime))
INSERT [dbo].[VehicleAuditLog] ([log_id], [vehicle_id], [action_type], [action_date]) VALUES (2, 1, N'UPDATE', CAST(N'2026-06-04T00:18:17.550' AS DateTime))
INSERT [dbo].[VehicleAuditLog] ([log_id], [vehicle_id], [action_type], [action_date]) VALUES (3, 1, N'UPDATE', CAST(N'2026-06-04T00:18:17.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[VehicleAuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([warehouse_id], [name], [phone], [address]) VALUES (1, N'Main Warehouse', N'02165555555', N'Pendik / Istanbul')
INSERT [dbo].[Warehouse] ([warehouse_id], [name], [phone], [address]) VALUES (2, N'Spare Parts Depot', N'02164444444', N'Tuzla / Istanbul')
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkOrder] ON 

INSERT [dbo].[WorkOrder] ([workorder_id], [date], [status], [record_id]) VALUES (1, CAST(N'2024-06-01' AS Date), N'Completed', 1)
INSERT [dbo].[WorkOrder] ([workorder_id], [date], [status], [record_id]) VALUES (2, CAST(N'2024-06-03' AS Date), N'Open', 2)
SET IDENTITY_INSERT [dbo].[WorkOrder] OFF
GO
INSERT [dbo].[WorkOrder_ServicePackage] ([workorder_id], [package_id]) VALUES (1, 1)
INSERT [dbo].[WorkOrder_ServicePackage] ([workorder_id], [package_id]) VALUES (1, 2)
INSERT [dbo].[WorkOrder_ServicePackage] ([workorder_id], [package_id]) VALUES (2, 1)
GO
INSERT [dbo].[WorkOrder_SparePart] ([workorder_id], [oem_code], [quantity], [unit_price]) VALUES (1, N'BRK-001', 2, CAST(2500.00 AS Decimal(18, 2)))
INSERT [dbo].[WorkOrder_SparePart] ([workorder_id], [oem_code], [quantity], [unit_price]) VALUES (1, N'ENG-002', 1, CAST(750.00 AS Decimal(18, 2)))
INSERT [dbo].[WorkOrder_SparePart] ([workorder_id], [oem_code], [quantity], [unit_price]) VALUES (2, N'BRK-001', 1, CAST(2500.00 AS Decimal(18, 2)))
GO
/****** Nesnesi: Index [UQ__DriverLi__CD65CB844D93F048] Betik Tarihi: 4.06.2026 00:59:16 ******/
ALTER TABLE [dbo].[DriverLicense] ADD UNIQUE NONCLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [UQ__Invoice__F8D664228215751C] Betik Tarihi: 4.06.2026 00:59:16 ******/
ALTER TABLE [dbo].[Invoice] ADD UNIQUE NONCLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [UQ__SalesCon__170997F52FC8E2E8] Betik Tarihi: 4.06.2026 00:59:16 ******/
ALTER TABLE [dbo].[SalesContract] ADD UNIQUE NONCLUSTERED 
(
	[sale_vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [UQ__ServiceR__A50828FDCE4D9DAB] Betik Tarihi: 4.06.2026 00:59:16 ******/
ALTER TABLE [dbo].[ServiceRecord] ADD UNIQUE NONCLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ__Vehicle__0C04E25627D061F8] Betik Tarihi: 4.06.2026 00:59:16 ******/
ALTER TABLE [dbo].[Vehicle] ADD UNIQUE NONCLUSTERED 
(
	[plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ__Vehicle__DDB00C66725402E3] Betik Tarihi: 4.06.2026 00:59:16 ******/
ALTER TABLE [dbo].[Vehicle] ADD UNIQUE NONCLUSTERED 
(
	[vin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT ('BELİRTİLMEDİ') FOR [vehicle_type]
GO
ALTER TABLE [dbo].[VehicleAuditLog] ADD  DEFAULT (getdate()) FOR [action_date]
GO
ALTER TABLE [dbo].[BuyerCustomer]  WITH CHECK ADD  CONSTRAINT [FK_BuyerCustomer_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[BuyerCustomer] CHECK CONSTRAINT [FK_BuyerCustomer_Customer]
GO
ALTER TABLE [dbo].[CustomerVehicle]  WITH CHECK ADD  CONSTRAINT [FK_CustomerVehicle_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[CustomerVehicle] CHECK CONSTRAINT [FK_CustomerVehicle_Customer]
GO
ALTER TABLE [dbo].[CustomerVehicle]  WITH CHECK ADD  CONSTRAINT [FK_CustomerVehicle_Vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[CustomerVehicle] CHECK CONSTRAINT [FK_CustomerVehicle_Vehicle]
GO
ALTER TABLE [dbo].[DamageReport]  WITH CHECK ADD  CONSTRAINT [FK_DamageReport_Policy] FOREIGN KEY([policy_id])
REFERENCES [dbo].[Policy] ([policy_id])
GO
ALTER TABLE [dbo].[DamageReport] CHECK CONSTRAINT [FK_DamageReport_Policy]
GO
ALTER TABLE [dbo].[DriverLicense]  WITH CHECK ADD  CONSTRAINT [FK_DriverLicense_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[DriverLicense] CHECK CONSTRAINT [FK_DriverLicense_Customer]
GO
ALTER TABLE [dbo].[EducationCertificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_Employee] FOREIGN KEY([employee_ssn])
REFERENCES [dbo].[Employee] ([ssn])
GO
ALTER TABLE [dbo].[EducationCertificate] CHECK CONSTRAINT [FK_Certificate_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Branch]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Title] FOREIGN KEY([title_id])
REFERENCES [dbo].[Title] ([title_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Title]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Contract] FOREIGN KEY([contract_id])
REFERENCES [dbo].[SalesContract] ([contract_id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Contract]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoice] ([invoice_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Invoice]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentType] FOREIGN KEY([type_id])
REFERENCES [dbo].[PaymentType] ([type_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentType]
GO
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [FK_Policy_CustomerVehicle] FOREIGN KEY([customer_vehicle_id])
REFERENCES [dbo].[CustomerVehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [FK_Policy_CustomerVehicle]
GO
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [FK_Policy_InsuranceCompany] FOREIGN KEY([company_id])
REFERENCES [dbo].[InsuranceCompany] ([company_id])
GO
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [FK_Policy_InsuranceCompany]
GO
ALTER TABLE [dbo].[ReplacementVehicle]  WITH CHECK ADD  CONSTRAINT [FK_ReplacementVehicle_Vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[ReplacementVehicle] CHECK CONSTRAINT [FK_ReplacementVehicle_Vehicle]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_Employee] FOREIGN KEY([employee_ssn])
REFERENCES [dbo].[Employee] ([ssn])
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_Employee]
GO
ALTER TABLE [dbo].[SalesContract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[SalesContract] CHECK CONSTRAINT [FK_Contract_Customer]
GO
ALTER TABLE [dbo].[SalesContract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_SaleVehicle] FOREIGN KEY([sale_vehicle_id])
REFERENCES [dbo].[SaleVehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[SalesContract] CHECK CONSTRAINT [FK_Contract_SaleVehicle]
GO
ALTER TABLE [dbo].[SaleVehicle]  WITH CHECK ADD  CONSTRAINT [FK_SaleVehicle_Vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[SaleVehicle] CHECK CONSTRAINT [FK_SaleVehicle_Vehicle]
GO
ALTER TABLE [dbo].[ServiceAppointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[ServiceAppointment] CHECK CONSTRAINT [FK_Appointment_Customer]
GO
ALTER TABLE [dbo].[ServiceCustomer]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCustomer_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[ServiceCustomer] CHECK CONSTRAINT [FK_ServiceCustomer_Customer]
GO
ALTER TABLE [dbo].[ServiceRecord]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRecord_Appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[ServiceAppointment] ([appointment_id])
GO
ALTER TABLE [dbo].[ServiceRecord] CHECK CONSTRAINT [FK_ServiceRecord_Appointment]
GO
ALTER TABLE [dbo].[ServiceRecord]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRecord_CustomerVehicle] FOREIGN KEY([customer_vehicle_id])
REFERENCES [dbo].[CustomerVehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[ServiceRecord] CHECK CONSTRAINT [FK_ServiceRecord_CustomerVehicle]
GO
ALTER TABLE [dbo].[ServiceRecord]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRecord_ReplacementVehicle] FOREIGN KEY([replacement_vehicle_id])
REFERENCES [dbo].[ReplacementVehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[ServiceRecord] CHECK CONSTRAINT [FK_ServiceRecord_ReplacementVehicle]
GO
ALTER TABLE [dbo].[StockMovement]  WITH CHECK ADD  CONSTRAINT [FK_StockMovement_SparePart] FOREIGN KEY([oem_code])
REFERENCES [dbo].[SparePart] ([oem_code])
GO
ALTER TABLE [dbo].[StockMovement] CHECK CONSTRAINT [FK_StockMovement_SparePart]
GO
ALTER TABLE [dbo].[StockMovement]  WITH CHECK ADD  CONSTRAINT [FK_StockMovement_Supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Supplier] ([supplier_id])
GO
ALTER TABLE [dbo].[StockMovement] CHECK CONSTRAINT [FK_StockMovement_Supplier]
GO
ALTER TABLE [dbo].[StockMovement]  WITH CHECK ADD  CONSTRAINT [FK_StockMovement_Warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[Warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[StockMovement] CHECK CONSTRAINT [FK_StockMovement_Warehouse]
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD  CONSTRAINT [FK_TestDrive_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[TestDrive] CHECK CONSTRAINT [FK_TestDrive_Customer]
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD  CONSTRAINT [FK_TestDrive_Employee] FOREIGN KEY([employee_ssn])
REFERENCES [dbo].[Employee] ([ssn])
GO
ALTER TABLE [dbo].[TestDrive] CHECK CONSTRAINT [FK_TestDrive_Employee]
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD  CONSTRAINT [FK_TestDrive_Route] FOREIGN KEY([route_id])
REFERENCES [dbo].[Route] ([route_id])
GO
ALTER TABLE [dbo].[TestDrive] CHECK CONSTRAINT [FK_TestDrive_Route]
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD  CONSTRAINT [FK_TestDrive_SaleVehicle] FOREIGN KEY([sale_vehicle_id])
REFERENCES [dbo].[SaleVehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[TestDrive] CHECK CONSTRAINT [FK_TestDrive_SaleVehicle]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_Branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_Branch]
GO
ALTER TABLE [dbo].[WorkOrder]  WITH CHECK ADD  CONSTRAINT [FK_WorkOrder_ServiceRecord] FOREIGN KEY([record_id])
REFERENCES [dbo].[ServiceRecord] ([record_id])
GO
ALTER TABLE [dbo].[WorkOrder] CHECK CONSTRAINT [FK_WorkOrder_ServiceRecord]
GO
ALTER TABLE [dbo].[WorkOrder_ServicePackage]  WITH CHECK ADD  CONSTRAINT [FK_WOSP_ServicePackage] FOREIGN KEY([package_id])
REFERENCES [dbo].[ServicePackage] ([package_id])
GO
ALTER TABLE [dbo].[WorkOrder_ServicePackage] CHECK CONSTRAINT [FK_WOSP_ServicePackage]
GO
ALTER TABLE [dbo].[WorkOrder_ServicePackage]  WITH CHECK ADD  CONSTRAINT [FK_WOSP_WorkOrder] FOREIGN KEY([workorder_id])
REFERENCES [dbo].[WorkOrder] ([workorder_id])
GO
ALTER TABLE [dbo].[WorkOrder_ServicePackage] CHECK CONSTRAINT [FK_WOSP_WorkOrder]
GO
ALTER TABLE [dbo].[WorkOrder_SparePart]  WITH CHECK ADD  CONSTRAINT [FK_WOSP2_SparePart] FOREIGN KEY([oem_code])
REFERENCES [dbo].[SparePart] ([oem_code])
GO
ALTER TABLE [dbo].[WorkOrder_SparePart] CHECK CONSTRAINT [FK_WOSP2_SparePart]
GO
ALTER TABLE [dbo].[WorkOrder_SparePart]  WITH CHECK ADD  CONSTRAINT [FK_WOSP2_WorkOrder] FOREIGN KEY([workorder_id])
REFERENCES [dbo].[WorkOrder] ([workorder_id])
GO
ALTER TABLE [dbo].[WorkOrder_SparePart] CHECK CONSTRAINT [FK_WOSP2_WorkOrder]
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_AddServiceAppointment] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddServiceAppointment]
    @CustomerID INT,
    @AppointmentDate DATE,
    @AppointmentTime TIME,
    @Status VARCHAR(50)
AS
BEGIN

    IF NOT EXISTS (
        SELECT 1
        FROM Customer
        WHERE customer_id = @CustomerID
    )
    BEGIN
        PRINT 'Customer not found';
        RETURN;
    END

    INSERT INTO ServiceAppointment
    (
        date,
        time,
        status,
        customer_id
    )
    VALUES
    (
        @AppointmentDate,
        @AppointmentTime,
        @Status,
        @CustomerID
    );

    PRINT 'Appointment created successfully';

END;
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_UpdateVehicleStatus] Betik Tarihi: 4.06.2026 00:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateVehicleStatus]
(
    @VehicleID INT,
    @NewStatus VARCHAR(50),
    @ResultMessage VARCHAR(100) OUTPUT
)
AS
BEGIN

    IF EXISTS
    (
        SELECT 1
        FROM SaleVehicle
        WHERE vehicle_id = @VehicleID
    )
    BEGIN

        UPDATE SaleVehicle
        SET status = @NewStatus
        WHERE vehicle_id = @VehicleID;

        SET @ResultMessage = 'Vehicle status updated successfully';

    END
    ELSE
    BEGIN

        SET @ResultMessage = 'Vehicle not found';

    END

END;
GO
